    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="https://source.unsplash.com/lu0L50ZJ2GM/42x42" type="image/x-icon">
        <title>Новостис</title>
        <!-- STYLE -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- FIREBASE -->
        <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js"></script>
        <script>
            // const firebase = require("firebase");
            // require("firebase/firestore");
            firebase.initializeApp({
                apiKey: 'AIzaSyDaFb42sXxMfXHTW-PnVuqConBT6f9INdw',
                authDomain: 'insys-fed72.firebaseapp.com',
                projectId: 'insys-fed72'
            });
            var db = firebase.firestore();
        </script>
    </head>
    <body>
        
        <div v-if="seen" id="visitsinformation">
            <pre>{{ message }}</pre>
        </div>

        <header class="d-flex w-100 bg-primary flex-column">
            <h1 class="m-3 text-white">Пространство ИС</h1>
        </header>
        <div class="d-flex w-100 flex-wrap flex-row">
            <section class="d-flex w-100 p-3 flex-column ">
                <div id="today" class="card m-1">
                    <img class="card-img-top" src="https://source.unsplash.com/1600x1000/?Apple" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ pair }}</h5>
                        <p class="card-text"><pre>{{ rasp }}</pre></p>
                        <div v-if="!alerted" class="alert alert-success" role="alert">
                            Все по расписанию
                        </div>
                        <div v-if="alerted" class="alert alert-danger" role="alert">
                            {{ alert }}
                        </div>
                    </div>
                </div>
                <button id="alarm" v-if="seen" class="btn btn-primary mx-5 my-2" v-on:click="greet">Предупредить</button>
            </section>
        </div>
        <footer class="d-flex w-100 bg-info p-2 pb-5 flex-columnsd">
            <a class="text-secondary fixed-bottom" onclick="visitsinformation.seen = !visitsinformation.seen; alarm.seen = !alarm.seen;">i</a>
            <a href="https://vk.com/id276829154" class="link text-light">by Kiselev Nikolay</a>
        </footer>

        <!-- LIBS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <!-- MY ACTIONS -->
        <script src="./js/init.js"></script>
        <script src="./js/front.js"></script>
    </body>
    </html>