<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="https://source.unsplash.com/lu0L50ZJ2GM/42x42" type="image/x-icon">
        <title>Новостис</title>
        <!-- STYLE -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- FIREBASE -->
        <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js"></script>
        <script>
            // const firebase = require("firebase");
            // require("firebase/firestore");
            firebase.initializeApp({
                apiKey: 'AIzaSyDaFb42sXxMfXHTW-PnVuqConBT6f9INdw',
                authDomain: 'insys-fed72.firebaseapp.com',
                projectId: 'insys-fed72'
            });
            var db = firebase.firestore();
        </script>
    </head>
    <body class="bg-light">
        <header class="d-flex w-100 bg-primary text-light flex-row">
            <h1 class="m-3" onclick="reblock();">Пространство ИС</h1>
        </header>
        <div class="d-flex w-100 flex-wrap align-items-stretch flex-row flex-column-m">   
            <section class="d-flex p-3 flex-column col-12 col-md-4">
                <div class="card h-100 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Группа 3ИС1-15Ж</h5>
                        <p class="card-text text-muted small">Староста Киселев Николай
                        <br>
                        89689327261</p>
                        <button id="alarm" v-if="seen" class="btn btn-primary mx-5 my-2" v-on:click="greet">Предупредить</button>
                    </div>
                </div>
            </section>
            <br class="d-none-m">
            <section class="d-flex p-3 flex-column col-6 col-md-4">
                <div id="today" class="card h-100 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Сегодня: {{ pair }}</h5>
                        <p class="card-text"><pre>{{ rasp }}</pre></p>
                        <div v-if="!alerted" class="alert alert-success" role="alert">
                            Все по расписанию
                        </div>
                        <div v-if="alerted" class="alert alert-danger" role="alert">
                            {{ alert }}
                        </div>
                    </div>
                </div>
            </section>
            <br class="d-none-m">
            <section class="d-flex p-3 flex-column col-6 col-md-4">
                <div id="zav" class="card h-100 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Завтра: {{ pair }}</h5>
                        <p class="card-text"><pre>{{ rasp }}</pre></p>
                    </div>
                </div>
            </section>
            <br class="d-none-m">
            <section class="d-flex p-3 flex-column col-12">
                <div class="card h-100 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Расписание целиком</h5>
                        <p class="card-text"><pre><ul class="list-group" id="raspis"><li class="list-group-item" v-for="item in items">{{ item.day }}</li></ul></pre></p>
                    </div>
                </div>
            </section>
        </div>
        <div v-if="seen" id="visitsinformation">
            <pre>{{ message }}</pre>
        </div>
        <footer class="d-flex w-100 bg-secondary p-2 pb-5 flex-column">
            <a href="https://vk.com/id276829154" class="link text-light">by Kiselev Nikolay</a>
        </footer>

        <!-- LIBS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <!-- MY ACTIONS -->
        <script src="./js/init.js"></script>
        <script src="./js/front.js"></script>
    </body>
</html>
